<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableLogs</key>
	<false/>
	<key>environments</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>type</key>
			<string>DEV</string>
			<key>apiKey</key>
			<string>*</string>
			<key>base-path</key>
			<string>https://api.coinranking.com/v2</string>
			<key>name</key>
			<string>Development</string>
			<key>early-build</key>
			<false/>
		</dict>
		<dict>
			<key>apiKey</key>
			<string>*</string>
			<key>active</key>
			<false/>
			<key>base-path</key>
			<string>https://api.coinranking.com/v2</string>
			<key>type</key>
			<string>UAT</string>
			<key>name</key>
			<string>Staging</string>
			<key>early-build</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
